#!/bin/bash


function install {
# some of my vars
   source "{{ .chezmoi.sourceDir }}"/dot_zshenv

# apt repository - vscode
      curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
      sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
      sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/vscode stable main" > /etc/apt/sources.list.d/vscode.list'

# apt repository - docker
      curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      sudo add-apt-repository \
      "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
      $(lsb_release -cs) \
      stable"

# apt packages
      sudo apt install -y \
      build-essential git libssl-dev \
      neovim code tig \
      silversearcher-ag direnv \
      docker-ce docker-ce-cli containerd.io \
      zsh \
      gtk-redshift


# asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.8.0
asdf plugin add python
asdf plugin add nodejs

asdf install python latest

## gpg keys for node stuff, from asdf nodejs repo
bash -c '${ASDF_DATA_DIR:=$HOME/.asdf}/plugins/nodejs/bin/import-release-team-keyring'
asdf install nodejs latest

# python poetry
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python


# rust
	 curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > /tmp/rustup.sh
	 sh /tmp/rustup.sh -y # no prompt
	 source $HOME/.cargo/env

# go
	 curl https://raw.githubusercontent.com/canha/golang-tools-install-script/master/goinstall.sh | bash

# some shell prompt
	 curl -fsSL https://starship.rs/install.sh > /tmp/starship.sh
	 bash /tmp/starship.sh -y --bin-dir=$HOME/bin

# neovim plugins
	 nvim +PlugInstall +qa

# oh-my-zsh
	 CHSH=no RUNZSH=no KEEP_ZSHRC=yes sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# fzf
	 [[ -d ~/.fzf ]] || git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
	 ~/.fzf/install --key-bindings --completion --no-update-rc

	    WANTED_SHELL=/usr/bin/zsh
	    if [ $SHELL != $WANTED_SHELL ]; then
	       chsh -s $WANTED_SHELL
		  fi
}

set -v

trap die INT

function die {
echo "Cancelling install script :)"
   exit 1
}

install

